@tailwind base;
@tailwind components;
@tailwind utilities;


/* Global body styling */
body {
  background-color: white;
  color: #1f2937;
}

.dark body {
  background-color: #111827;
  color: #f9fafb;
}